/SerialPortUart2pic32.X/nbproject/private/
/SerialPortUart2pic32.X/dist/default/
/SerialPortUart2pic32.X/build/default/
/pic32RtccUart2.X/nbproject/private/
/pic32RtccUart2.X/build/default/
/pic32RtccUart2.X/dist/default/